{% extends 'base.html.twig' %}

{% block title %}Liste des annonces{% endblock %}



{% block body %}
<style>
    {# .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; } #}
    
    .locked { background-color : silver; }
    .validated { background-color : lightgray; }
</style>

<div class="p-2 validated my-1">
    <h1>Annonces</h1>

    {% if app.user.role is same as "recruteur" %}
        <a href="{{ path('annonce_create', {'recruteur': id_recruteur}) }}" role="button" class="btn btn-success">Ajouter une annonce</a>
    {% endif %}
</div>

<div class="alert alert-dismissible alert-info">
{% if mailok is defined %}
{{ mailok }}
{% endif %}
</div>

    {# Visible par tous SAUF par un CANDIDAT #}
    {% if app.user.role is not same as "candidat" %}
        <div class="example-wrapper locked mt-1">


            <h2 class="px-2">Liste des annonces à valider</h2>
            <ul class="pb-1">
                {%for r in annonces %}
                
                    {# Liste des annonces à valider #}
                    {% if r.validation is same as false %}

                        <li class="mb-1">
                            <a href="{{ path('app_annonce', {'id': r.id})}}" class="btn btn-info">Voir</a> 
                            {{ r.intitule|capitalize }} {{r.poste|capitalize}} {{r.ville|upper}}
                            {# <a href="{{ path('app_recruteur', {'id': r.id}) }}">Détail</a> -  #}
                            <a href="{{ path('annonce_valider', {'id': r.id}) }}" class="btn btn-warning">Valider</a> -
                            <a href="{{ path('annonce_update', {'id': r.id}) }}" role="button" class="btn btn-primary">Modifier</a> - 
                            <a href="{{ path('annonce_remove', {'id': r.id}) }}" role="button" class="btn btn-danger"
                                onClick="return confirm('Confirmer la suppression de cette annonce et de toutes les candidatures qui y sont liées ? ')">Supprimer</a>
                            
                        </li>
                    {% endif %}
                {% else %}
                    <li><em>Aucune annonce trouvée.</em></li>
                {% endfor %}
            </ul>
        </div>

        <div class="example-wrapper validated">


            <h2 class="px-2">Liste des annonces validées</h2>
            <ul class="pb-1">
                {%for r in annonces %}
                    {# Liste des annonces déjà validées #}
                    {% if r.validation is same as true %}
                    <li class="mb-1">
                        <a href="{{ path('app_annonce', {'id': r.id})}}" class="btn btn-info">Voir</a> 
                        {{ r.intitule|capitalize }} {{r.poste|capitalize}} {{r.ville|upper}}
                        {# <a href="{{ path('app_annonce', {'id': r.id}) }}">Détail</a> -  #}
                        <a href="{{ path('annonce_bloquer', {'id': r.id}) }}" class="btn btn-warning">Bloquer</a> -
                        <a href="{{ path('annonce_update', {'id': r.id}) }}" role="button" class="btn btn-primary">Modifier</a> - 
                        <a href="{{ path('annonce_remove', {'id': r.id}) }}" role="button" class="btn btn-danger"
                            onClick="return confirm('Confirmer la suppression de cette annonce et de toutes les candidatures qui y sont liées ? ')">Supprimer</a>
                        
                    </li>
                    {% endif %}
                {% else %}
                    <li><em>Aucune annonce trouvée.</em></li>
                {% endfor %}
            </ul>
        </div>
    
    {# Uniquement visible par le CANDIDAT #}
    {% elseif app.user.role is same as "candidat" %}

        <div class="example-wrapper locked mt-1">


            <h2 class="px-2">Liste des annonces</h2>
            <ul class="pb-1">


                {%for r in annonces %}
                
                    {# Liste des annonces à valider #}
                    {% if r.validation is same as true %}

                        <li class="mb-1">
                            <a href="{{ path('app_annonce', {'id': r.id})}}" class="btn btn-info">Voir</a> 
                            
                            {# Annonce déjà postulée ? #}
                            {% if r.id in deja_postule %}
                                <img src={{ asset('icons/tick.png')}} title="Vous avez déjà postulé à cette annonce" alt="déjà postulé" class="icon"/>
                            {% else %}
                                <img src={{ asset('icons/stop.png')}} title="Vous n'avez pas encore postulé" alt="pas encore postulé" class="icon"/>
                            {% endif %}

                            {{ r.intitule|capitalize }} {{r.poste|capitalize}} {{r.ville|upper}}

                      
                        </li>
                    {% endif %}
                {% else %}
                    <li><em>Aucune annonce trouvée.</em></li>
                {% endfor %}
            </ul>
        </div>

    {% endif %}

{% endblock %}
{% block stylesheets %}
    <style>
        .icon{
            width: 30px
        }
    </style>
{% endblock %}