{% extends 'base.html.twig' %}

{% block title %}Administrateur{% endblock %}

{% form_theme formAdmin 'bootstrap_5_layout.html.twig' %}

{% block body %}

<h1>
{% if editMode %}
    Gestion
{% else %}
    Création
{% endif %}
 d'un administrateur</h1>

{{ form_start(formAdmin) }}

{{ form_row(formAdmin.username, {'attr' : { 'placeholder' : 'mail'}}) }}
{{ form_row(formAdmin.nom, {'attr' : { 'placeholder' : 'nom'}}) }}
{{ form_row(formAdmin.prenom, {'attr' : { 'placeholder' : 'prénom'}}) }}
{{ form_row(formAdmin.password, {'type' : 'password', 'attr' : { 'placeholder' : 'minimum 8 caractères'}}) }}
{# {{ form_row(formAdmin.password_confirm, {'type' : 'password', 'label': 'Confirmer le mot de passe','attr' : { 'placeholder' : 'minimum 8 caractères'}}) }} #}
{{ form_row(formAdmin.role, {'attr' : { 'placeholder' : 'role', 'value' : 'admin', 'readonly' : 'true'}}) }}

<input type="hidden" name="roles" placeholder="roles" value="[]"/>

{# Si on vient de la home page #}
{% if back is defined and back is not same as 'admins' %}
    <a href="{{ path('home') }}" role="button" class="btn btn-dark">Retour</a>
{# Si on vient de la liste des admins #}
{% else %}
    {# <a href="{{ path('admins') }}" role="button" class="btn btn-dark">Retour à la liste des administrateurs</a> #}
    <a href="/admins" role="button" class="btn btn-dark">Retour à la liste des administrateurs</a>
{% endif %}



<button type="submit" class="btn btn-primary">
    {% if editMode %}
        Enregistrer les modifications
    {% else %}
        Ajouter l'administrateur
    {% endif %}
</button>

{{ form_end(formAdmin) }}



{% endblock %}

{% block stylesheets %}
    <style>
        .container{
            width: 100%;
            border: 1px solid #ddd;
            padding-top: 13px;
            border-radius: 10px;
            background-color: #F9F9FA;
            color: #413C49;
            margin-top: 20px;
            padding-bottom: 13px;
        }

        .error{
            color: red;
            font-weight: 600;
        }

        .has-error ul{
            color: red;
            list-style-type: none;
            padding-left: 0;
            padding-top: 5px;
            font-style: italic;
        }

        .btn-lg{
            color: #fff;
            margin: auto;
            margin-top: 30px;
        }
    </style>
{% endblock %}