{% extends 'base.html.twig' %}

{% block title %}Liste des consultants{% endblock %}

{% block body %}
<style>
    .locked { background-color : silver; }
    .validated { background-color : lightgray; }

</style>

<div class="example-wrapper locked mt-1">
    <h1 class="px-2">Liste des consultants</h1>
    <ul>
        {%for c in consultants %}
            <li class="mb-1">{{ c.nom|upper }} {{c.prenom|capitalize}} {{c.username|lower}}
                <a href="{{ path('app_consultant', {'id': c.id}) }}" class="btn btn-info">Détail</a> - 
                <a href="{{ path('consultant_update', {'id': c.id}) }}" role="button" class="btn btn-primary">Modifier</a> - 
                <a href="{{ path('consultant_remove', {'id': c.id}) }}" role="button" class="btn btn-danger">Supprimer</a>
            </li>
        {% else %}
            <li><em>Aucun consultant trouvé.</em></li>
        {% endfor %}
    </ul>

<div class="p-2">
    Créer un nouveau consultant : <a href="{{ path('consultant_create', {}) }}" role="button" class="btn btn-success">Ajouter</a>
</div>


</div>
{% endblock %}
