{% extends 'base.html.twig' %}

{% block title %}Consultant 
    {% if consultant %}
        {{consultant.nom}}
    {% endif %}
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<h2>Consultant</h2>

<div>

    {% if consultant %}
        <div>{{consultant.id}}</div>
        <div>{{consultant.username|lower}}</div>
        <div>{{consultant.nom|upper }}</div>
        <div>{{consultant.prenom|capitalize}}</div>        
    {% else %}
        <em>Données du consultant non trouvées.</em>
    {% endif %}

</div>
<br/><br/>
{# Si on vient de la home page #}
{% if back is defined and back is not same as 'consultants' %}
    <a href="{{ path('consultant_update', {'id': consultant.id, 'back': 'home'}) }}" role="button" class="btn btn-primary">Modifier</a>
{# Si on vient de la liste des consultants #}
{% else %}
    {# Bouton retour à la liste des consultants #}
    <a href="{{ path('consultants') }}" role="button" class="btn btn-dark">Retour à la liste des consultants</a>
{% endif %}



{% endblock %}
