{% extends 'base.html.twig' %}

{% block title %}Liste des recruteurs{% endblock %}



{% block body %}
<style>
    {# .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; } #}
    
    .locked { background-color : silver; }
    .validated { background-color : lightgray; }
</style>


<div class="example-wrapper locked mt-1">
    <h1 class="px-2">Liste des recruteurs à valider</h1>
    <ul class="pb-1">
        {%for r in recruteurs %}
            {# Liste des recruteurs à valider #}
            {% if r.user.role is same as 'recruteur_tovalid' %}

                <li class="mb-1">
                    <a href="{{ path('app_recruteur', {'id': r.id})}}" class="btn btn-info">Voir</a> 
                    {{ r.user.nom|upper }} {{r.user.prenom|capitalize}} {{r.user.username|lower}}
                    {# <a href="{{ path('app_recruteur', {'id': r.id}) }}">Détail</a> -  #}
                    <a href="{{ path('recruteur_valider', {'id': r.id}) }}" class="btn btn-warning">Valider</a> -
                    <a href="{{ path('recruteur_update', {'id': r.id}) }}" role="button" class="btn btn-primary">Modifier</a> - 
                    <a href="{{ path('recruteur_remove', {'id': r.id}) }}" role="button" class="btn btn-danger">Supprimer</a>
                    
                </li>
            {% endif %}
        {% else %}
            <li><em>Aucun recruteur trouvé.</em></li>
        {% endfor %}
    </ul>
</div>

<div class="example-wrapper validated">
    <h1 class="px-2">Liste des recruteurs validés</h1>
    <ul class="pb-1">
        {%for r in recruteurs %}
            {# Liste des recruteurs déjà validés #}
            {% if r.user.role is same as 'recruteur' %}
            <li class="mb-1">
                <a href="{{ path('app_recruteur', {'id': r.id})}}" class="btn btn-info">Voir</a> 
                {{ r.user.nom|upper }} {{r.user.prenom|capitalize}} {{r.user.username|lower}}
                {# <a href="{{ path('app_recruteur', {'id': r.id}) }}">Détail</a> -  #}
                <a href="{{ path('recruteur_bloquer', {'id': r.id}) }}" class="btn btn-warning">Bloquer</a> -
                <a href="{{ path('recruteur_update', {'id': r.id}) }}" role="button" class="btn btn-primary">Modifier</a> - 
                <a href="{{ path('recruteur_remove', {'id': r.id}) }}" role="button" class="btn btn-danger">Supprimer</a>
                
            </li>
            {% endif %}
        {% else %}
            <li><em>Aucun recruteur trouvé.</em></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
