{% extends 'base.html.twig' %}

{% dump recruteur %}


{% block title %}Recruteur 
    {% if recruteur %}
        {{recruteur.user.nom}}
    {% endif %}
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<h2>Recruteur</h2>

<div>

    {% if recruteur %}
        <div>RECRUTEUR n°{{recruteur.id}}</div>
        <div>USER n°{{recruteur.user.id}}</div>
        <div>{{recruteur.user.username|lower}}</div>
        <div>{{recruteur.user.nom|upper }}</div>
        <div>{{recruteur.user.prenom|capitalize}}</div>        
        
        <h3>ENTREPRISE</h3>
        <div>{{recruteur.getEntrepriseAdresse()|capitalize}}</div>  
        <div>{{recruteur.getEntrepriseNom()|capitalize}}</div>  
        <div>{{recruteur.getEntrepriseCodePostal()}}</div>  
        <div>{{recruteur.getEntrepriseVille()|upper}}</div>   
       
    {% else %}
        <em>Données du recruteur non trouvées.</em>
    {% endif %}

</div>
<br/><br/>
<a href="{{ path('recruteurs') }}" role="button" class="btn btn-dark">Retour à la liste des recruteurs</a>
{% endblock %}
