{% extends 'base.html.twig' %}

{% block title %}Liste des candidats{% endblock %}



{% block body %}
<style>
    
    
    .locked { background-color : silver; }
    .validated { background-color : lightgray; }

</style>


<div class="example-wrapper locked mt-1">
    <h1 class="px-2">Liste des candidats à valider</h1>
    <ul class="pb-1">
        {%for r in candidats %}
            {# Liste des candidats à valider #}
            {% if r.user.role is same as 'candidat_tovalid' %}

                <li class="mb-1">
                    <a href="{{ path('app_candidat', {'id': r.id})}}" class="btn btn-info">Voir</a> 
                    {{ r.user.nom|upper }} {{r.user.prenom|capitalize}} {{r.user.username|lower}} 
                    {% if r.cv is not empty %}
                    <a href={{ asset('uploads/cv/' ~ r.cv) }} target="_blank" class="icon-link">
                        <img src={{ asset('icons/cv.png')}} title="CV" alt="cv" class="icon"/>
                    </a>
                    {% else %}
                        <img src={{ asset('icons/no-cv.png')}} title="pas de cv" alt="pas de cv" class="icon" />
                    {% endif %}
                    <a href="{{ path('candidat_valider', {'id': r.id}) }}" class="btn btn-warning">Valider</a> -
                    <a href="{{ path('candidat_update', {'id': r.id}) }}" role="button" class="btn btn-primary">Modifier</a> - 
                    <a href="{{ path('candidat_remove', {'id': r.id}) }}" role="button" class="btn btn-danger"
                        onClick="return confirm('Confirmer la suppression de ce candidat et de ses candidatures ? ')">Supprimer</a>
                    
                </li>
            {% endif %}
        {% else %}
            <li><em>Aucun candidat trouvé.</em></li>
        {% endfor %}
    </ul>
</div>

<div class="example-wrapper validated">
    <h1 class="px-2">Liste des candidats validés</h1>
    <ul class="pb-1">
        {%for r in candidats %}
            {# Liste des candidats déjà validés #}
            {% if r.user.role is same as 'candidat' %}
            <li class="mb-1">
                <a href="{{ path('app_candidat', {'id': r.id})}}" class="btn btn-info">Voir</a> 
                {{ r.user.nom|upper }} {{r.user.prenom|capitalize}} {{r.user.username|lower}}
                {% if r.cv is not empty %}
                <a href={{ asset('uploads/cv/' ~ r.cv) }} target="_blank" class="icon-link">
                    <img src={{ asset('icons/cv.png')}} title="CV" alt="cv" class="icon"/>
                </a>
                {% else %}
                    <img src={{ asset('icons/no-cv.png')}} title="pas de cv" alt="pas de cv" class="icon" />
                {% endif %}
                {# <a href="{{ path('app_candidat', {'id': r.id}) }}">Détail</a> -  #}
                <a href="{{ path('candidat_bloquer', {'id': r.id}) }}" class="btn btn-warning">Bloquer</a> -
                <a href="{{ path('candidat_update', {'id': r.id}) }}" role="button" class="btn btn-primary">Modifier</a> - 
                <a href="{{ path('candidat_remove', {'id': r.id}) }}" role="button" class="btn btn-danger"
                    onClick="return confirm('Confirmer la suppression de ce candidat et de ses candidatures ? ')">Supprimer</a>
                
            </li>
            {% endif %}
        {% else %}
            <li><em>Aucun candidat trouvé.</em></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
{% block stylesheets %}
    <style>

        .icon{
            width: 30px
        }
        .icon-link{
            text-decoration: none
        }
    </style>
{% endblock %}