{% extends 'base.html.twig' %}

{% block title %}Liste des candidats{% endblock %}



{% block body %}
<style>
    
    
    .locked { background-color : silver; }
    .validated { background-color : lightgray; }

</style>


<div class="example-wrapper locked mt-1">
    <h1 class="px-2">Liste des candidats à valider</h1>
    <ul class="pb-1">
        {%for r in candidats %}
            {# Liste des candidats à valider #}
            {% if r.user.role is same as 'candidat_tovalid' %}

                <li class="mb-1">
                    <a href="{{ path('app_candidat', {'id': r.id})}}" class="btn btn-info">Voir</a> 
                    {{ r.user.nom|upper }} {{r.user.prenom|capitalize}} {{r.user.username|lower}}
                    <a href="{{ path('candidat_valider', {'id': r.id}) }}" class="btn btn-warning">Valider</a> -
                    <a href="{{ path('candidat_update', {'id': r.id}) }}" role="button" class="btn btn-primary">Modifier</a> - 
                    <a href="{{ path('candidat_remove', {'id': r.id}) }}" role="button" class="btn btn-danger">Supprimer</a>
                    
                </li>
            {% endif %}
        {% else %}
            <li><em>Aucun candidat trouvé.</em></li>
        {% endfor %}
    </ul>
</div>

<div class="example-wrapper validated">
    <h1 class="px-2">Liste des candidats validés</h1>
    <ul class="pb-1">
        {%for r in candidats %}
            {# Liste des candidats déjà validés #}
            {% if r.user.role is same as 'candidat' %}
            <li class="mb-1">
                <a href="{{ path('app_candidat', {'id': r.id})}}" class="btn btn-info">Voir</a> 
                {{ r.user.nom|upper }} {{r.user.prenom|capitalize}} {{r.user.username|lower}}
                {# <a href="{{ path('app_candidat', {'id': r.id}) }}">Détail</a> -  #}
                <a href="{{ path('candidat_bloquer', {'id': r.id}) }}" class="btn btn-warning">Bloquer</a> -
                <a href="{{ path('candidat_update', {'id': r.id}) }}" role="button" class="btn btn-primary">Modifier</a> - 
                <a href="{{ path('candidat_remove', {'id': r.id}) }}" role="button" class="btn btn-danger">Supprimer</a>
                
            </li>
            {% endif %}
        {% else %}
            <li><em>Aucun candidat trouvé.</em></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
