{% extends 'base.html.twig' %}

{% block title %}Liste des candidats{% endblock %}



{% block body %}
<style>
    
    
    .validated { background-color : green; }
    .locked { background-color : red; }
</style>


<div class="example-wrapper locked">
    <h1>Liste des candidats à valider</h1>
    <ul>
        {%for r in candidats %}
            {# Liste des candidats à valider #}
            {% if r.user.role is same as 'candidat_tovalid' %}

                <li>
                    <a href="{{ path('app_candidat', {'id': r.id})}}">Voir</a> 
                    {{ r.user.nom|upper }} {{r.user.prenom|capitalize}} {{r.user.username|lower}}
                    <a href="{{ path('candidat_valider', {'id': r.id}) }}">Valider</a> -
                    <a href="{{ path('candidat_update', {'id': r.id}) }}" role="button" class="btn btn-danger">Modifier</a> - 
                    <a href="{{ path('candidat_remove', {'id': r.id}) }}" role="button" class="btn btn-danger">Supprimer</a>
                    
                </li>
            {% endif %}
        {% else %}
            <li><em>Aucun candidat trouvé.</em></li>
        {% endfor %}
    </ul>
</div>

<div class="example-wrapper validated">
    <h1>Liste des candidats validés</h1>
    <ul>
        {%for r in candidats %}
            {# Liste des candidats déjà validés #}
            {% if r.user.role is same as 'candidat' %}
            <li>
                <a href="{{ path('app_candidat', {'id': r.id})}}">Voir</a> 
                {{ r.user.nom|upper }} {{r.user.prenom|capitalize}} {{r.user.username|lower}}
                {# <a href="{{ path('app_candidat', {'id': r.id}) }}">Détail</a> -  #}
                <a href="{{ path('candidat_bloquer', {'id': r.id}) }}">Bloquer</a> -
                <a href="{{ path('candidat_update', {'id': r.id}) }}" role="button" class="btn btn-danger">Modifier</a> - 
                <a href="{{ path('candidat_remove', {'id': r.id}) }}" role="button" class="btn btn-danger">Supprimer</a>
                
            </li>
            {% endif %}
        {% else %}
            <li><em>Aucun candidat trouvé.</em></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
